<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AP8PO_Projekt" connectionString="Server=(localdb)\mssqllocaldb;Database=AP8PO_Projekt;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1.0"/>
  </startup>
</configuration>